
<div class="container" ng-controller="PostsController">

  <h1>posts#index</h1>

  <table class="table">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>body</th>
      <th>changed?</th>
      <th></th>
    </tr>

    <tr ng-repeat="post in posts | filter:{}" >

      <td>{{post.id}}</td>
      <td>
        <input type="text" class="form-control" ng-model="post.title" />
      </td>
      <td>
        <input type="text" class="form-control" ng-model="post.body" />
      </td>
      <td>
        <a href='#' ng-show="post._changed()" ng-click="post._update()">Save</a>
      </td>
      <td>
        <a href='#' ng-click="post._delete()">Delete</a>
      </td>
    </tr>

  </table>
  <p>
    <a href='#' ng-click="add()">Add</a>
  </p>

  <hr />

  <p>
    Changed: {{changed}}
  </p>

</div>
